[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "infometrics"]
	path = infometrics
	url = https://github.com/genmaxent/infometrics_r
